@model IEnumerable<Webshop.Models.Product>

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCat1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCat2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="~/Images/Products/thumb_@item.ImageName" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCat1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCat2)
        </td>
        <td>
            @Html.ActionLink("Details", "Product", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
