@model Webshop.Models.Product

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name);
}



<fieldset>
    <legend><h3>@Model.Category @(!Model.SubCat1.Equals("") ? "-> " + @Model.SubCat1 : "") @(!"".Equals(Model.SubCat2) ? "-> " + @Model.SubCat2 : "") -> @Html.DisplayFor(model => model.Name)</h3></legend>
    <div class="desc-image-price-wrapper">
        <div>
            <div class="product-desc-div">
                @Html.DisplayFor(model => model.TextDescription)
            </div>
            @if ((bool)(ViewBag.isAdmin))
            {
                @Html.ActionLink("Edit this product", "Product", "Admin", new { id = @Model.ProductID }, new { } );
            }
        </div>
        <div class="product-image-price-div">
            <table>
                <tr>
                    <td>
                        <img src="~/Images/Products/normal_@Html.DisplayFor(model => model.ImageName)" />
                    </td>
                </tr>
                <tr>
                    <td id="priceText">
                        € @Webshop.Models.Product.FormatPrice(Model.Price)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink(" ", "Add", "Shoppingcart", new { id = @Model.ProductID }, new { @class = "shoppingcart-image" })
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="product-properties-div">
        <table class="product-propertie-table">
        @{
            Webshop.Models.ProductProperty lastItem = new Webshop.Models.ProductProperty();
        }
        @foreach (var item in Model.Properties)
        {
            if(item.Property1.Equals(item.Property2)){
                <tr>
                    <td>
                        @item.Property1
                    </td>
                    <td>
                        @item.Property3
                    </td>
                    <td>

                    </td>
                </tr>    
            } else {
                if(!item.Property1.Equals(lastItem.Property1)){
                    <tr>
                        <td>
                            @item.Property1
                        </td>
                        <td>
                        
                        </td>
                        <td>
                        
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            @item.Property2
                        </td>
                        <td>
                            @item.Property3
                        </td>
                    </tr>
                } else {
                    <tr>
                        <td>

                        </td>
                        <td>
                            @item.Property2
                        </td>
                        <td>
                            @item.Property3
                        </td>
                    </tr>
                }
            }
            lastItem = item;
        }
        </table>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", new { category = ViewBag.category, subcat1 = ViewBag.subcat1, subcat2 = ViewBag.subcat2, page = ViewBag.currentPage, perPage = ViewBag.perPage })
    </p>
</fieldset>

