<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <div id="container">
            <header>
                <div id="header">
                    <div class="float-left">
                        <p class="header_title">@Html.ActionLink("Webshop", "Index", "Home")</p>
                    </div>
                    <div id="header_menu_and_login" class="clearfix">
                        <div class="header-login-register-wrapper">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                    <div class="header-menu clearfix">
                        <div class="header-menu-item">
                            @Html.ActionLink("Home", "Index", "Home")
                        </div>
                        <div class="header-menu-item">
                            @Html.ActionLink("About", "About", "Home")
                        </div>
                        <div class="header-menu-item">
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </div>
                    </div>
                </div>
            </header>
            <div class="clearfix">
                <div id="sidebar-categories" class="sidebar float-left">
                    <div class="sidebar-search-div">
                            @using (Html.BeginForm("Index", "Search", FormMethod.Get)) {
                            <input type="text" name="query" id="query" value="Search" onclick="javascript: if ($(this).attr('value') == 'Search') { $(this).attr('value', ''); }" onblur="javascript:if($(this).attr('value') == '') { $(this).attr('value', 'Search');}" size="18" /><br />
                            <input type="submit" value="Search" />
                        }
                    </div>
                    @Html.Action("SideBar", "Home", new { category = ViewBag.category, subcat1 = ViewBag.subcat1, subcat2 = ViewBag.subcat2 })
                </div>
                <div id="body" class="content">
                    @RenderSection("featured", required: false)
                    <div class="content-wrapper main-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <footer>
                <div class="copyright clear-fix">
                    <p>&copy; @DateTime.Now.Year - Webshop</p>
                </div>
            </footer>


            @RenderSection("scripts", required: false)
        </div>
    </body>
</html>
