@model Webshop.Models.User
@{
    ViewBag.Title = "Manage Account";
    var emptyPass = new Webshop.Models.LocalPasswordModel();
    var emptyAddress = new Webshop.Models.Address();
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>



@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial", emptyPass)
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@foreach (var address in Model.Addresses)
{
    @Html.Partial("_AddressPartial", address)
}
@Html.Partial("_AddressPartialCreate", emptyAddress)

@if(Model.Orders.Count() > 0){
    @Html.Partial("_OrdersPartial", Model.Orders)
} else {
    <h2>
        No orders placed.
    </h2>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
