@model Webshop.Models.Order

@{
    ViewBag.Title = "Index";
    int totalPrice = 0;
    bool evenOdd = false;
}

<h2>Order</h2>
<table class="product-table">
    <caption>
        <h2>
            Sent to: @(Model.Address.PostalCode), @(Model.Address.City): @Model.Address.StreetName @Model.Address.StreetNumber
        </h2>
    </caption>
    <tr>
        <th>

        </th>
        <th>
            Product Name
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Total
        </th>
    </tr>

@foreach (var item in Model.OrderItems) {
    <tr onclick="javascript:rowClick(this)" class="product-table-@(evenOdd ? "even" : "odd")-row">
        <td>
            <img src="~/Images/Products/thumb_@item.Product.ImageName" />
        </td>
        <td>
            @item.Product.Name
        </td>
        <td>
            @(item.Product.Price / 100f)
            @{totalPrice += item.Product.Price * item.Quantity;}
        </td>
        <td>
            @item.Quantity
        </td>
        <td >
            @((item.Product.Price * item.Quantity) / 100f)
        </td>
        <td>
            @Html.ActionLink("Details", "Product", "Home", new { id = item.ProductID }, new { })
        </td>
    </tr>
    evenOdd = !evenOdd;
}
    <tr>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            Total price:
        </td>
        <td>
            @(totalPrice / 100f)
        </td>
        <td></td>
    </tr>
</table>
<script type="text/javascript">
    function rowClick(elem) {
        window.location = $(elem).find("a").last().attr("href");
    }
</script>