@model IEnumerable<Webshop.Models.Ticket>

@{
    bool evenOdd = false;
}

<h2>New Tickets</h2>

<table class="address-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TicketTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketCreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="javascript:rowClick(this)" class="address-table-@(evenOdd ? "even" : "odd")-row">
        <td>
            @Html.DisplayFor(modelItem => item.TicketTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketCreationDate)
        </td>
        <td>
            @Html.ActionLink("View", "Ticket", new { id = item.TicketID }) | 
            @Html.ActionLink("Assign", "Assign", new { id = item.TicketID })
        </td>
    </tr>
    evenOdd = !evenOdd;
}

</table>
<script type="text/javascript">
    function rowClick(elem) {
        window.location = $(elem).find("a").last().attr("href");
    }
</script>